[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/abseil"]
	path = thirdparty/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "thirdparty/inja"]
	path = thirdparty/inja
	url = https://github.com/pantor/inja.git
[submodule "themes/ezhil-ling"]
	path = themes/ezhil-ling
	url = https://github.com/kitelife/ezhil-ling.git
[submodule "thirdparty/toml11"]
	path = thirdparty/toml11
	url = https://github.com/ToruNiina/toml11.git
