[submodule "third_party/inja"]
	path = third_party/inja
	url = https://github.com/pantor/inja.git
[submodule "third_party/cppjieba"]
	path = third_party/cppjieba
	url = https://github.com/yanyiwu/cppjieba.git
